body {
    margin: 0;
    padding: 0;
    background-image: url(kan1.webp);
}
.header {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: left;
    align-items: center;
    background-color: yellow;
}
.header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
nav {
    width: 100%;
    height: 100%;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    font-family: monospace;
    margin: 10px;
}
.container2 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
}
.samping {
    width: 30%;
    height: 100%;
    background-color: red;
   
}
.container3 {
    width: 70%;
    height: 100%;
    justify-content: center;
    overflow-y: scroll;
}
.menu {
    width: 100%;
    height: 5000px;
    
}
.wadah {
    display: flex;
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
}
.box1 {
    width: 150px;
    height: 220px;
    margin: 15px;
    background-color: white;
    border-radius: 30px;
}
.box1 img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
}
.footer {
    width: 100%;
    height: 40px;
   background-color: yellow;
}
.satas {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.satas img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.sbawah {
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
}
.isi {
    width: 95%;
    height: 85%;
    background-color: white;
    border-radius: 20px;
}
