body {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 40px;
    background-color:yellow;
}
nav {
    width: 100%;
    height: 20px;
}
a {
    text-decoration: none;
}
.container2 {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: pink;
}
.wadah1 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.wadah1 img {
    width: 400px;
    height: 400px;
}
.wadah2 {
    display: flex;
    width: 60%;
    height: 100%;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
}
.daftarKantin {
    width: 100%;
    height: 90%;
    background-color: red;
    overflow-x: scroll;
    scrollbar-width: none;
}
.kantin {
    width: 90%;
    height: 90%;
    margin: 25px auto;
    border-radius: 15px;
}
.kantin img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.footer {
    width: 100%;
    height: 40px;
    background-color: yellow;
}